* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    background-color: black;
}

#background {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

#background img {
    position: fixed;
    top: 0;
    left: -28px;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 100vw;
    min-height: 100vh;
}

.header {
    width: 100vw;
    height: 10vh;
    display: flex;
}

.spacex-logo {
    height: 30%;
    position: relative;
    top: 35%;
    left: 50px;
    padding-right: 65px;
}

.header-nav {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    color: white;
    bottom: 30px;
    font-size: 12px;
    justify-content: left;
}

.nav {
    height: 150px;
    width: 130px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box-shadow-menu {
    position: fixed;
    padding-left: 1.25em;
    right: 15px;
    top: 40px;
}
  
.box-shadow-menu:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 1.5em;
    height: 0.15em;
    background: white;
    box-shadow: 
    0 0.25em 0 0 white,
    0 0.5em 0 0 white;
}

.recent-launch {
    width: 100%;
    height: 70%;
    display: flex;
    position: relative;
    color: white;
    top: 400px;
    left: 50px;
    font-size: 20px;
    font-style: normal;
}

.space-vehicle {
    width: 100%;
    height: 70%;
    display: flex;
    position: relative;
    color: white;
    top: 420px;
    left: 50px;
    font-size: 37px;
    font-style: normal; 
    text-shadow: 2px 4px 11px #000000;
}

.replay-butt {
    height: 55px;
    width: 175px;
    position: fixed;
    bottom: 100px;
    left: 50px;
    border: solid white 2px;
    color: white;
    padding: 20px 0 0 50px;
}